extends ../layout

include ../mixins/hidden
include ../mixins/puzzle/board
include ../mixins/puzzle/clues
include ../mixins/puzzle/tags
include ../mixins/puzzle/credits

block content
  link(href='/css/puzzle.css', rel='stylesheet')
  script(src="/scripts/puzzle.js")

  h1 Play Puzzle
  p
    | Play the puzzle by placing letters in the open squares.

  h3= puzzle.name ||  "Puzzle"
  if puzzle.description
    div.puzzle-description= puzzle.description

  +board('play')

  +clues('playclues')

  +tags('edittags', puzzle.tags)

  +credits(puzzle)

  +hidden('puzzle-content', puzzle)

  script.
    $(function() {
      const $acrossList = $("section#playclues ul#across");
      const $downList = $("section#playclues ul#down");

      const settings = {
        editing: false,
        events: {
          anchorload: anchorload,
          letter: function(event) {

          }
        }
      };

      function makeClueItem(anchor, word) {
        const $item = $("<li>", {class: "puzzle-list-item"})
                      .append($("<span>", {class: "puzzle-list-anchor"}).text(anchor.number))
                      .append($("<span>", {class: "puzzle-list-clue"}).text(word.clue || "[not set]"))
                      .append($("<span>", {class: "puzzle-list-size"}).text(` (${word.length})`));

        return $item;
      }

      function anchorload(anchor) {
        if (anchor.horizontal) {
          $acrossList.append(makeClueItem(anchor, anchor.horizontal));
        }
        if (anchor.vertical) {
          $downList.append(makeClueItem(anchor, anchor.vertical));
        }
      }

      const puzzle = $.getHidden("puzzle-content");
      $("table#play").puzzle(puzzle,  settings)
        .end()
        .fadeIn();
    });