# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# Debug log from npm
npm-debug.log

# Project structure artifacts...
/.vscode
/app.js
/dump
/public
/routes
/temp
