mixin loginbox
    div#login-box
        input.standard-input(type="email", id="login-email", name="email", placeholder="email", validate, autofocus)
        input.standard-input(type="password", id="login-password", name="password", placeholder="password")
        div.login-box-buttons
            div#login-ok.standard-button
                | Login
            div#login-cancel.standard-button
                | Cancel
        div.login-registration-text
          | Don't have an account?

          div#login-register
            | register

    script.
        $(function() {
            const $loginbox = $("#login-box");
            $("#login-bubble").click(function() {
              $loginbox.toggle();
              $("#login-box #login-email").focus();
            });

            $("#login-ok").click(function() {
              const email = $("#login-email", $loginbox).val();
              const password = $("#login-password", $loginbox).val();

              $.post({
                url: "/login",
                data: {
                  email: email,
                  password: password
                }
              })
              .done((data) => {
                console.log("login [response-data=%o]", data, status);
                $.redirect("/");
              })
              .catch(error => {
                console.error("login: error [status-code=%d][message=%o]", error.status, error.statusText);
                $("input", $loginbox).addClass("standard-input-bad");
              });
            });

            $("#login-cancel").click(function() {
              $loginbox.fadeOut();
            });

            $("#login-register").click(function() {
              $("#registration-box").fadeIn();
              $("#registration-box #reg-username").focus();
            });
        });
