extends layout

block content

  div.about
    div.banner Wuzzup - the Word Puzzle Community

    h1 Play Puzzles
    p
      | Complete crosswords published by other users.

    h1 Make Puzzles
    p
      | Create your own puzzles, and share them with other users.

    h1 Subscribe
    p
      | For only £5 per month, you get extras such as:
      ul
        li
          em Oxford English Dictionary
          | &nbsp;- use the OED for help with creating clues for your own puzzles, or solving other's puzzles.
        li
          em style your puzzles
          | &nbsp;- give your own puzzles custom colours that others will see when they play them.
        li
          em style other's puzzles
          | &nbsp;- give other user's puzzles your own styling when you play them.

    h1 Sponsor
    p
      | Companies can sponsor puzzles. Give a puzzle your company's unique branding.

    h1 Buy Puzzles
    p
      | Buy puzzles for publication, online or in print.