extends layout

include ./mixins/puzzle/blurblist

block content

  section.puzzle.puzzle-statistics
    legend My Puzzles
    div.standard-center-panel
      a(href='/puzzle/edit.html').standard-bumper-button New Puzzle

  +blurblist('myblurbs', puzzles)

  script.
    $(function() {
      if ($("section#puzzle-drafts article.puzzle-blurb").length) {
        $("section#puzzle-drafts").show();
      }
      if ($("section#puzzle-published article.puzzle-blurb").length) {
        $("section#puzzle-published").show();
      }
    });