extends layout

include ./mixins/puzzle/blurb

block content

  section.puzzle
    legend My Puzzles
    div.standard-center-panel
      a(href='/puzzle/edit.html').standard-bumper-button New Puzzle

  section.puzzle
    legend My Draft Puzzles

    each puzzle in puzzles
      +blurb(puzzle, true)

  section.puzzle
    legend My Published Puzzles

    each puzzle in puzzles
      +blurb(puzzle, false)
