extends layout

include ./mixins/puzzle/blurb

block content

  section.puzzle
    legend My Draft Puzzles

    each puzzle in puzzles
      +blurb(puzzle)

  section.puzzle
    legend My Published Puzzles

    each puzzle in puzzles
      +blurb(puzzle)
