extends layout

include ./mixins/puzzle/blurb

block content

 - let displayDate = new Date();
 - displayDate.setYear(displayDate.getFullYear() + 1);
  section.puzzle
    each puzzle in puzzles
      if (puzzle.publishedAt.getDay() !== displayDate.getDay()) || (puzzle.publishedAt.getDate() !== displayDate.getDate()) || (puzzle.publishedAt.getFullYear() !== displayDate.getFullYear())
        - displayDate = puzzle.publishedAt;
        legend= dateformat.prettyDate(displayDate)
      +blurb(puzzle)
