mixin blurb(puzzle, editmode)

  include ./published

  article.puzzle-blurb
    legend
      a(href=`/puzzle/${editmode ? 'edit' : 'play'}.html?id=${puzzle.hash}`).puzzle-blurb-link= puzzle.name || 'Puzzle'

    if puzzle.description
      div.puzzle-blurb-description= puzzle.description

    if puzzle.tags
      div.puzzle-blurb-tags
        each tag in puzzle.tags
          | &nbsp;
          a(href='/index.html?q=' + tag).puzzle-tags-link= tag

    +published(puzzle)