mixin blurblist(name, puzzles)

  include ./blurb

  div(id=name).puzzle-blurblist
    if req.session.user
      section(style='display:none;')#puzzle-drafts.puzzle
        legend Drafts

        each puzzle in puzzles
          if (puzzle.email === req.session.user.email) && (! puzzle.published)
            +blurb(puzzle, true)

    section(style='display:none;')#puzzle-published.puzzle
      legend Published

      each puzzle in puzzles
        if puzzle.published
          +blurb(puzzle, false)

  script.
    $(function() {
      if ($("section#puzzle-drafts article.puzzle-blurb").length) {
        $("section#puzzle-drafts").show();
      }
      if ($("section#puzzle-published article.puzzle-blurb").length) {
        $("section#puzzle-published").show();
      }
    });