mixin blurb(puzzle, editmode)

  article.puzzle-blurb
    a(href=`/puzzle/${editmode ? 'edit' : 'play'}.html?id=${puzzle.hash}`)= 'Puzzle' || puzzle.name
    div= puzzle.email
    div= puzzle.updatedAt
