mixin tags(name, tags, editmode)

  section.puzzle-tags
    if editmode
      input(id=name, type='text', value=(tags || []).join(" ")).puzzle-tags-edit
    else
      each tag in tags
        a(href='/index.html?q=' + tag).puzzle-tags-link= tag
        | &nbsp;
